
@{
    ViewData["Title"] = "CariBuku";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="row">
    <!-- Main content -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3 flex-row align-items-center justify-content-between">
                <h1 class="m-0 font-weight-bold maintextcolor">Cari Buku</h1>
                <h7 class="m-0 font-weight-bold maintextcolor">Cari buku yang kamu mau di SINIII</h7>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="container-fluid col-12">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <form class="navbar-search">
                            <div class="input-group">
                                <input id="search-box" type="text" class="form-control bg-light border-0" placeholder="Cari buku melalui Google Books"
                                       aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button id="search" class="btn" type="button" style="background-color: #FC7666;">
                                        <img class="iconsearch" src="/lib/main-assets/img/search.svg" width="20px" />
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="book-list">
                            <div id="list-output" class="">
                                <div class="row">
                                    <!-- card  -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>