
@{
    ViewData["Title"] = "PageContent";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}


@{
    ViewData["Title"] = "PageContent";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h1 class="mb-2 font-weight-bold" style="color: #FC7666; ">Chainsaw Man</h1>
<img class="card-img-top" src="~/lib/main-assets/img/chainsaww.png" alt="">
<div class="card-body text-dark">
    <p>
        Chainsaw man merupakan sebuah karya fiksi yang menjadi buah bibir bahkan sudah ramai
        sebelum mendapatkan adaptasi Anime.
        Karya fiksi ini ditulis oleh Tatsuki Fujimoto yang merupakan salah satu komikus besar di Jepang
        atau bahkan dunia kalau menurut saya hehe.
        Chainsaw Man menceritakan tentang seorang anak muda yang bernama Denji.
    </p>
</div>
<p style="text-align:justify;">
    <img class="card-img-right" src="~/lib/main-assets/img/denji.jpg"
         style="width:500px;height:300px;float:left; margin:0 9px 3px 0;" alt="">
    Denji menjalani hidup dengan sebuah iblis gergaji yang bernama pochita.
    Kehidupan yang dijalani denji diwarnai dengan penuh rasa prihatin karena miskin
    dan dibebani peninggalan hutang orang tuanya,
    hingga suatu saat terjadilah sesuatu, apa itu? Silahkan tonton hehe.
</p>
<p>
    Kurang lebih begitulah sinopsisnya, untuk selanjutnya saya akan berbagi
    cerita tentang apa yang saya rasakan setelah menonton 12 episode Chainsaw Man,
    di sini saya tidak akan membahas teknis animenya secara detail karena saya
    bukanlah ahli dalam bidang tersebut, saya hanya ingin berbagi dengan para
    pembaca mengenai perasaan saya ketika selesai menonton Chainsaw Man.
</p>
<div class="card-body text-dark">
    <p>
        Bicara tentang serial Chainsaw Man maka tidak akan terlepas dari para tokoh atau
        karakter pemerannya nah berikut ini adalah beberapa Kumpulan Daftar nama Karakter dalam Chainsaw Man
    </p>
</div>
<h4>No 1 Denji</h4>
<img src="~/lib/main-assets/img/denjiee.jpg" align="center" style="width:500px;height:300px;">
<div class="card-body">
    <p>
        Denji merupakan tokoh utama dalam serial Chainsaw Man, Ia adalah seorang pria muda dengan rambut
        pirang acak-acakan, mata coklat kekuningan yang tajam dengan kantong di bawahnya, dan gigi yang tajam.
        Sebagai seorang anak muda, ia mewarisi hutang ayahnya dari yakuza setelah kematian ayahnya.
        Setelah bertemu dengan Chainsaw Devil Pochita, ia menjadi Pemburu Iblis dalam upaya untuk melunasi hutangnya.
        Yakuza membunuhnya, dan Pochita menjadi hatinya, membuat kontrak dengan Denji,
        yang akan menjalani mimpinya tentang kehidupan normal. Setelah ini, dia bisa berubah menjadi hibrida
        iblis-manusia yang dikenal sebagai Chainsaw Man dengan menarik tali di dadanya. Setelah bertemu Makima,
        ia menjadi Pemburu Setan Keamanan Publik, untuk hidup dalam kondisi yang manusiawi. Motivasi utamanya adalah
        ketertarikannya pada Makima.
    </p>
</div>

<h4>No 2 Makima</h4>
<img src="~/lib/main-assets/img/makim.jpg" align="center" style="width:500px;height:300px;">
<div class="card-body">
    <p>
        Makima merupakan seorang wanita misterius menjabat sebagai kepala Divisi Keamanan Publik 4,
        yang mengambil Denji sebagai hewan peliharaan manusia. Makima licik, cerdas, dan manipulatif,
        mengendalikan Denji dengan memanfaatkan ketertarikannya padanya dengan janji menjalin hubungan,
        sambil mengancamnya dengan pemusnahan jika tidak patuh. Untuk sebagian besar cerita,
        tujuannya tidak diketahui dan niat baiknya tidak jelas. Dia kemudian diturunkan menjadi Iblis Kontrol,
        yang mewujudkan rasa takut akan dominasi, dan berusaha menggunakan Chainsaw Man, kepada siapa dia
        terpikat, untuk menciptakan dunia tanpa penderitaan. Untuk tujuan ini, dia mendalangi kemalangan
        yang menimpa Denji atas serial tersebut. Setelah dibunuh oleh Denji, dia terlahir kembali sebagai
        seorang anak bernama Nayuta, dan ditempatkan dalam asuhannya, untuk dibesarkan sebagai pribadi yang
        lebih baik.
    </p>
</div>