
@{
    ViewData["Title"] = "RekomendasiBuku";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
<div class="row">
    <div class="card shadow col-12">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Komik</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="card col-5 mr-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/makima.jpg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">Chainsawman</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/makima.jpg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">Chainsawman</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
