
@{
    ViewData["Title"] = "RekomendasiBuku";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
<div class="row">
    <div class="card shadow col-12">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Artikel</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                <div class="row mb-4 d-flex justify-content-between">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/makima.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Chainsaw Man</h5>
                            <p class="card-text">Denji memiliki mimpi sederhana, hidup bahagia dan
                                damai, menghabiskan waktu bersama gadis yang disukainya. Namun...</p>
                            <a asp-area="" asp-controller="Home" asp-action="PageContent" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/lookism.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lookism</h5>
                            <p class="card-text">Cowok ini punya 2 Wujud!
                                Pilih yang mana ya..?</p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/tentang_kamu.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tentang Kamu</h5>
                            <p class="card-text">Setelah diselidiki, harta warisan yang
                                ditinggalkan ini jumlahnya sangatlah mencengangkan, yaitu..</p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 d-flex justify-content-between">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/sejarah_dunia.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Sejarah Dunia yang Disembunyikan</h5>
                            <p class="card-text">Akhir-akhir ini, materialis menjadi dominan.
                                Sayangnya, untuk membahas segala hal spiritualitas akan beresiko
                                dianggap gila. Namun..</p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/python.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Belajar dasar Python</h5>
                            <p class="card-text">
                                Python memiliki sintaks yang mudah dibaca manusia,
                                memiliki banyak fungsi-fungsi matematis dan juga statistis yang cocok untuk..
                            </p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/study_grup2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Study Group</h5>
                            <p class="card-text">
                                Kelompok belajar yang berusaha untuk menaikkan nilai mereka,
                                akankah berhasil dengan segala cobaan yang menghampiri Kelompok belajar ini..?
                            </p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 d-flex justify-content-between">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/reformasi.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Reformasi Kebijakan Publik</h5>
                            <p class="card-text">Analisa terhadap kebijakan yang sudah dijalankan
                                apakah dilanjutkan, diberhentikan, diganti atau dibutuhkan tetapi...</p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/surga.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Surga Kecil di atas Awan</h5>
                            <p class="card-text">
                                Awan adalah seorang yang tangguh dan tidak mengenal
                                putus asa. Dengan segala keadaan yang ada, ia tetap...
                            </p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/lib/main-assets/img/jujutsu.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jujutsu Kaisen Vol.1</h5>
                            <p class="card-text">
                                Mengisahkan tentang kehidupan Yuuji Itadori, seorang pelajar SMA
                                yang pada awalnya menjalani kehidupan normal, tetapi....
                            </p>
                            <a href="#" class="btn btn-primary">Lanjut Baca</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>