
@{
    ViewData["Title"] = "RekomendasiBuku";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
<div class="row">
    <div class="card shadow col-12">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Komik</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="card col-5 mr-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/makima.jpg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">Chainsawman</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarjankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/looksim.jpeg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">L O O K I S M</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/PYHTON.jpeg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">Head First PYTHON</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/OP100.jpg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">ONE PIECE</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/one punch.jpeg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">ONE PUNCH MAN</h5>
                            <h6 class="mb-2 font-weight-bold" style="color: #FC7666;">Season 3</h6>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/Filosofi.jpeg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">FILOSOFI TERAS</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/Luka.jpeg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">Luka Kata</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                    <div class="card col-5 ml-4">
                        <img class="card-img-top" src="~/lib/main-assets/img/Self.jpeg" alt="">
                        <div class="card-body text-dark">
                            <h5 class="mb-2 font-weight-bold" style="color: #FC7666;">SELF HEALING</h5>
                            <p>
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                                Artikel yang menjelaskan kenapa kita menyarankan baca komik ini
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
