<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="row flex-nowrap bg-danger">
        <div class="col-4">
            <nav class="navbar-nav sidebar sidebar-dark bg-secondary">
                <div class="nav-link">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        BUKUKU
                    </a>
                </div>
                <div class="nav-link">
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="nav-link">
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </nav>
        </div>
        <div class="col-8">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
